<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.gpaiter.curriculumposasd" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CurriculumMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.FormacaoAcademicaActivity"
            android:label="@string/formacao_academica"
            android:parentActivityName=".CurriculumMainActivity" >
        </activity>
        <activity
            android:name=".activitys.ExperienciaProfisionalActivity"
            android:label="@string/experiencia_profissional"
            android:parentActivityName=".CurriculumMainActivity" >
        </activity>
        <activity
            android:name=".activitys.PerfilActivity"
            android:label="@string/app_activity_perfil"
            android:parentActivityName=".CurriculumMainActivity" >
        </activity>
        <activity android:name=".activitys.CadastrarExperienciaProfissionalActivity"
            android:label="@string/action_cadastrar_exp_pro"
            android:parentActivityName=".activitys.ExperienciaProfisionalActivity" >
        </activity>
        <activity android:name=".activitys.CadastrarFormacaoAcademicaActivity"
            android:label="@string/action_cadastrar_for_aca"
            android:parentActivityName=".activitys.FormacaoAcademicaActivity" >
        </activity>
    </application>

</manifest>
